:root{
  --Focus_color:#ff8c69 ;
  --Primary_Acc_color:#EFF2EF;
  --Primary_Acc_top_color:#ffffff;
  --Not_Ok_color:#FF5A5F;
  --Primary_color:#f9f9f9;
  --Ok_color:#1B998B;
  --Contrast_color:#342E37;
  --Standard-padding:16px;
  --Mid-padding:8px;
  --Standard_border_radius:16px;
  --Mid-border_radius:8px;

}
*{
  transition: all 100ms ease-in;
}


/* Header */
header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: var(--Standard-padding);
  background-color: var(--Primary_color);
  z-index: 20;
}
#header_tittle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
}

/*Principal */
#nombre{
  text-align:center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
#main_logo{
  min-height: 150px;
  border-radius: 1rem;
}
#pop{
  text-align: center;
  opacity: 0;
  position: relative;
  left: 0;
  width: auto;
  background-color: var(--Contrast_color);
  color: white;
  padding: var(--Mid-padding) var(--Standard-padding);
  margin-block:0;
  margin-bottom: var(--Mid-padding);
}

/*General tags */
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Primary_color);
  color: var(--Contrast_color);
  min-height: 500px;
}
article{
  margin-top: 5rem;
  width: 90%;
  max-width: 500px;
}
h3{
  margin: 0;
}
p{
  margin: 0;
}
/* Enfasis*/
#pop em{
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1px var(--Standard-padding);
  border-radius: var(--Mid-border_radius);
  font-style: normal;
}
#resultado_titulo{
  margin: 0;
}
#resultado_titulo em{
  color: var(--Focus_color);
  font-style: normal;
}

.button_container{
  display: flex;
  justify-content: space-around;
  background-color: var(--Primary_Acc_color);
  width: fit-content;
  padding:var(--Mid-padding) var(--Standard-padding);
  border-radius:var(--Mid-border_radius);
}
.config_container{
  display: flex;
  gap: 8px;
  justify-content:space-between;
  align-items: center;
}
.elements_container{
  display: flex;
  justify-content: space-around;
  gap: 8px;
  background-color: var(--Primary_Acc_color);
  padding:var(--Mid-padding) var(--Standard-padding);
  border-radius:var(--Mid-border_radius);
}
.elements_container:nth-child()
.elements_container a{
  padding-left: var(--Standard-padding);
  padding-right: var(--Mid-padding);
}
.elements_container input{
  padding: var(--Mid-padding);
  border: none;
  border-radius: var(--Mid-border_radius);
  width: 48px !important;
  margin-right: var(--Standard-padding);
}
/*Buttons design  */


button{
  border:none;
  border-radius: var(--Mid-border_radius);
  padding: var(--Mid-padding);
  width: fit-content;
  height: fit-content;
}
button:hover{
  background-color: var(--Contrast_color);
  color:var(--Primary_color);
  cursor: pointer;
}

.button_disabled{
  background-color: var(--Primary_Acc_color);
  color:gray;
}
.button_disabled:hover{
  background-color: var(--Primary_Acc_color);
  color:gray;
  cursor:default;
}

.button_selected,.button_selected:hover{
  background-color: var(--Focus_color);
  color:var(--Contrast_color);
  cursor: auto;
}

.button_primary{
  background-color: var(--Contrast_color);
  color:var(--Primary_color);
}
.button_primary:hover{
  background-color: var(--Focus_color);
  color:var(--Contrast_color);
  cursor: pointer;
}

.button_color{
  background-color: var(--Focus_color);
  color: var(--Contrast_color);
}
.button_border{
  background-color: none;
  border: 1px solid var(--Contrast_color);
}
.button_border:focus{
  background-color: var(--Contrast_color);
  color: var(--Primary_Acc_color);
}
.button_deco_link{
  display: inline-block;
  justify-self: center;
  transform: translateY(-5px) rotate(-30deg);
}


/*Campo de ingresar tasa*/
  #principal{
    width: 90%;
    max-width: 500px;
    min-width: 128px;   
  }
  #busqueda{
    padding: 2px 5px;
    font-size: 1.5rem;
    border: 1px solid var(--Primary_color);
    border-radius: 0.5rem;
    background-color: var(--Primary_Acc_color);
    color: var(--Contrast_color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  }
  #busqueda:hover{
    box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 4px;
  }
  /*Este elemento integra los elementos de busqueda con un solo estilo  */
  #busqueda_cuadro{ 
    /*Grid layout*/
    display: grid; 
    grid-template-columns: 9fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas:". .";
    justify-items: center;
    background-color: var(--Primary_Acc_top_color);
    border-radius: 0.5rem;
    padding: 2px;
    transition: all 0ms;
  }
  #busqueda_cuadro:hover{
    border: 1px solid var(--Focus_color);
    padding: 1px;
  }
  #busqueda_cuadro:hover  #limpiar_btn{
    opacity: 1;
  }
  
#campoBusqueda{
    font-size: 1rem;
    padding: 10px;
    width:95%;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
  }
  :is(#campoBusqueda,#tasas_selecion):focus-visible{
    outline: none !important;
    background-color: transparent;
  }

  /*Lista desplegable para seleccionar tasa a convertor*/
  #tasas_selecion{
    border-radius: var(--Mid-border_radius) ;
    padding: 2px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    width: 50%;
    display: none;
  }
  #tasas_selecion:hover{
    background-color: var(--Contrast_color);
    color: var(--Primary_color);
    cursor: pointer;
  }
  #limpiar_btn{
    opacity: 0;
    background:none;
    border: none;
    font-size: 1rem;
    border-radius:50%;
    color: var(--Contrast_color);
    width: 90%;
  }
  #limpiar_btn:hover{
    cursor: pointer;
    background: var(--Primary_color);
  }
  #anticipada_label{
    padding-left: var(--Standard-padding);
    display: flex; 
    gap: var(--Mid-padding); 
    grid-template-areas:". .";
    font-size: 1rem;
  }
  .checkbox{
    width: 40px;
  }
  

  /*Cuadro de sugerencias*/
  #sugerencias {
    position: relative;
    left: 0;
    top: 0.5rem;
    padding: 5px;
    border: 1px solid var(--Primary_color);
    border-radius: 0.5rem;
    background-color: var(--Primary_Acc_color);
    display: none;
    border-radius: 1rem;
    width: 98%;
    max-width: 500px;
    min-width: 128px; 
  }
    .sugerencia-item {
      padding: 5px;
      cursor: pointer;
    }
    .sugerencia-item:hover {
      background-color: var(--Primary_color);
      border-radius: 0.5rem;
    }
#portapapeles{
  height: 0px;
  opacity: 0;
}

#alerta{
  position: absolute;
  top: 10px;
  background-color: var(--Not_Ok_color);
  color: white;
  border-radius: 0.5rem;
  padding:0px;
  font-size: 1rem;
}
#alerta.active{
  padding:2px 10px;
}

/* Ventana flotante */
#float_windows{
  position: fixed;
  top: 10%;
  left: 10%;
  border: 1px solid var(--Focus_color);
  width: 80%;
  height: fit-content;
  background-color: var(--Primary_color);
  border-radius: var(--Standard_border_radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: var(--Standard-padding);
}
#float_windows_content{
  padding: var(--Standard-padding);
}
.elementDisable{
  pointer-events: none;
  user-select: none;
  opacity: 0.25;
}


/*Resultados*/
#resultado{
  display: none;
  width: 90%;
  max-width: 500px;
  min-width: 128px;
  margin-bottom: 2rem;
}
#resultado_info{
  text-align: justify;
  margin: var(--Standard-padding) 0;
}
.titulo_resultadoTasasConvertidas,.titulo_resultadoTasasConvertidas:hover{
  background-color: var(--Primary_color);
  color: var(--Contrast_color);
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 1px solid gray;
  border-radius: 0;
  
}
.li_resultado{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--Standard-padding);
}
.li_resultado p{
  width: 80%;
  padding: 0 var(--Standard-padding);
  margin: 0;
}
.value_resultado{
  width: fit-content !important;
  padding: 8px var(--Mid-padding);
  letter-spacing: 0.5px;
}
.btn_copiar_tasa_convertida{
  width: fit-content !important;
}


/*Seccion de tasas resultados*/
#resultado section button{
  width: 100%;
}
#filter_results{
  position: absolute;
  border: 1px solid var(--Focus_color);
  height: fit-content;
  background-color: var(--Primary_color);
  border-radius: var(--Standard_border_radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: var(--Standard-padding);
}
#filter_results :is(ul,li) {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*Footer*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: var(--Mid-padding) 0;
  background-color: var(--Primary_Acc_color);
}
.footer_links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_links p{
  margin:0;
}

/*CHECKBOX Anticpada*/
label{
  padding: 0 !important;
}
.cw_check{
  display: none;
}
.cw_label{
  display: inline-block;
  width: 35px;
  height: 20px;
  background-color: var(--Primary_color);
  border-radius: var(--Standard_border_radius);
  cursor: pointer;
  border: 1px solid var(--Contrast_color);
  scale: 0.9;
}
.cw_label::after{
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: var(--Contrast_color);
  transform: translateY(3px) translateX(5px);
  border-radius: 100px;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cw_check:checked~ .cw_label{
  background-color: var(--Focus_color);
  border-color: var(--Primary_color);
}
.cw_check:checked~ .cw_label::after{
  background: var(--Primary_color);
  transform: translateY(3px) translateX(15px);
}