:root{
  --Focus_color:#ff8c69;
  --Focus_color_shadow:#ffa68b;
  --Primary_Acc_color:#EFF2EF;
  --Primary_Acc_color_shadow:#e4e4e4;
  --Primary_Acc_top_color:#ffffff;
  --Not_Ok_color:#FF5A5F;
  --Primary_color:#f9f9f9;
  --Ok_color:#1B998B;
  --Contrast_color:#342E37;

  --small-padding:8px;
  --medium-padding:16px;
  --large_padding:32px;

  --small-border_radius:8px;
  --medium_border_radius:16px;
  font-size: 16px;
}
*{
  transition: all 100ms ease-in;
  user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Header */
header{
  position: fixed;
  top:0;
  width: 100%;
  padding: var(--medium-padding);
  background-color: var(--Primary_Acc_top_color);
  z-index: 10;
  box-shadow: rgba(61, 65, 68, 0.096) 0px 4px 16px;
}
#header_tittle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
}

/*Principal */
.view_port{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
}
.view_port > *{
  width: 100%;
}
#hero{
  text-align:center;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
#notifications{
  position:fixed;
  padding-top: 16px;
  z-index: 30;
  bottom: 0;
}
#pop{
  text-align: center;
  opacity: 0;
  position: relative;
  left: 0;
  width: auto;
  background-color: var(--Contrast_color);
  color: white;
  padding: var(--small-padding) var(--medium-padding);
  margin-block:0;
  margin-bottom: var(--small-padding);
  border-radius: var(--small-border_radius);
  box-shadow:rgba(61, 65, 68, 0.2) 0px 4px 8px;
}

/*General tags */
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Contrast_color);
  background-color: var(--Primary_Acc_color);
}
h3{
  margin: 0;
}
p{
  margin: 0;
}
/* Enfasis*/
#pop em{
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1px var(--medium-padding);
  border-radius: var(--small-border_radius);
  font-style: normal;
}

.button_container{
  display: flex;
  justify-content: space-around;
  background-color: var(--Primary_Acc_color);
  width: fit-content;
  padding:var(--small-padding) var(--medium-padding);
  border-radius:var(--small-border_radius);
}
.config_container{
  display: flex;
  gap: 8px;
  justify-content:space-between;
  align-items: center;
  padding-left: 8px;
}
.elements_container{
  display: flex;
  justify-content: space-between;
  gap: var(--medium-padding);
}
#busqueda .elements_container > * {
  width: 50%;
}


/*Buttons design  */


button{
  border:none;
  border-radius: var(--small-border_radius);
  padding:var(--small-padding) var(--medium-padding);
  font-size: 1rem;
}
button:hover{
  background-color: var(--Primary_Acc_color_shadow);
  color: var(--Contrast_color);
  cursor: pointer;
}

.button_disabled{
  background-color: var(--Primary_Acc_color);
  color:gray;
}
.button_disabled:hover{
  background-color: var(--Primary_Acc_color);
  color:gray;
  cursor:default;
}

.button_selected,.button_selected:hover{
  background-color: var(--Focus_color);
  color:var(--Contrast_color);
  cursor: auto;
}

.button_primary{
  background-color: var(--Contrast_color);
  color:var(--Primary_color);
}
.button_primary:hover{
  background-color: var(--Focus_color);
  color:var(--Contrast_color);
  cursor: pointer;
}

.button_color{
  background-color: var(--Focus_color);
  color: var(--Contrast_color);
}
.button_border{
  background-color: none;
  border: 1px solid var(--Contrast_color);
}
.button_border:focus{
  background-color: var(--Contrast_color);
  color: var(--Primary_Acc_color);
}
.button_deco_link::after{     /*Botones con enlace*/
  content: "»";
  position: relative;
  display: inline-block;
  justify-self: b;
  transform: translateY(-5px) rotate(-30deg);
}
.button_deco_link:hover:after{
  content: "→";
  position: relative;
  display: inline-block;
  justify-self: center;
  transform: translateY(-5px) rotate(-390deg);
}
.button_list {   /*Botones similar a lista*/
  background-color: var(--Primary_color);
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
}
.button_list:hover{
  background-color: var(--Primary_Acc_color_shadow);
  color: var(--Contrast_color);
}
.button_list::after{     
  content: "▶";
  position: relative;
  display: inline-block;
  float: right;
  transform:translateY(-2px) rotate(-30deg);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button_list.active{
  background-color: var(--Focus_color);
  color: var(--Contrast_color);
}
.button_list.active::after{
  transform:translateY(0px) rotate(-90deg);
}
.button_list.active:hover{
  background-color: var(--Focus_color_shadow);
}
article{
  padding: var(--large_padding);
  border-radius: var(--small-border_radius);
  background-color: var(--Primary_color);
  box-shadow: rgba(61, 65, 68, 0.2) 0px 4px 8px;
}

/*Campo de ingresar tasa*/
  #principal{
    margin-top: var(--medium-padding);   
  }
  #busqueda{
    padding: var(--small-padding);
    font-size: 1.5rem;
    border: 1px solid var(--Primary_color);
    border-radius: var(--medium_border_radius);
    background-color: var(--Primary_Acc_color);
    color: var(--Contrast_color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  }
  #busqueda:hover{
    box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 4px;
  }
  /*Este elemento integra los elementos de busqueda con un solo estilo  */
  input{
    background-color: var(--Primary_Acc_color);
    border: 1px solid var(--Primary_Acc_color);
    border-radius: var(--small-border_radius);
    font-size: 1rem;
    padding:var(--small-padding) var(--medium-padding);
  }
  input:is(:focus,:hover){
    outline: 1px solid var(--Focus_color);
    background-color: var(--Primary_Acc_color);
  }
  #busqueda_cuadro{ 
    /*Grid layout*/
    display: grid; 
    grid-template-columns: 9fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas:". .";
    justify-items: center;
    background-color: var(--Primary_Acc_top_color);
    border-radius: var(--small-border_radius);
    padding: 2px;
    transition: all 0ms;
    margin-bottom: var(--medium-padding);
    width: 100%;
  }
  #busqueda_cuadro:hover{
    border: 1px solid var(--Focus_color);
    padding: 1px;
  }
  #busqueda_cuadro input:hover{
    outline: none;
  }
  #busqueda_cuadro:hover  #limpiar_btn{
    opacity: 1;
  }
  
#campoBusqueda{
    font-size: 1rem;
    padding: 10px;
    width:95%;
    border: none;
    border-radius: var(--small-border_radius);
    background-color: transparent;
  }
  :is(#campoBusqueda,#tasas_selecion):focus-visible{
    outline: none !important;
    background-color: transparent;
  }

  /*Lista desplegable para seleccionar tasa a convertir*/
  #tasas_selecion{
    border-radius: var(--small-border_radius) ;
    padding: 2px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    width: 50%;
    display: none;
  }
  #tasas_selecion:hover{
    background-color: var(--Contrast_color);
    color: var(--Primary_color);
    cursor: pointer;
  }
  #limpiar_btn{
    opacity: 0;
    background:none;
    border: none;
    font-size: 1rem;
    border-radius:50%;
    color: var(--Contrast_color);
    width: 90%;
  }
  #limpiar_btn:hover{
    cursor: pointer;
    background: var(--Primary_color);
  }
  #anticipada_label{
    padding-left: var(--medium-padding);
    display: flex; 
    align-items: center;
    gap: var(--small-padding); 
    grid-template-areas:". .";
    font-size: 1rem;
    width: 160px;
  }
  .checkbox{
    width: 40px;
  }
  

  /*Cuadro de sugerencias*/
  #sugerencias {
    margin-top: 1px;
    position: relative;
    padding: 5px;
    border: 1px solid var(--Primary_color);
    background-color: var(--Primary_Acc_top_color);
    display: none;
    border-radius: 0 0px 8px 8px;
    
  }
    .sugerencia-item {
      padding: 5px;
      cursor: pointer;
      font-size: 1rem;
    }
    .sugerencia-item:hover {
      background-color: var(--Primary_color);
      border-radius: 4px;
    }
#portapapeles{
  height: 0px;
  opacity: 0;
}

#alerta{
  position: absolute;
  top: 10px;
  background-color: var(--Not_Ok_color);
  color: white;
  border-radius: 0.5rem;
  padding:0px;
  font-size: 1rem;
}
#alerta.active{
  padding:2px 10px;
}

/* Ventana flotante */
#float_windows{
  position:fixed;
  border: 1px solid var(--Focus_color);
  width:max-content;
  height: fit-content;
  background-color: var(--Primary_color);
  border-radius: var(--medium_border_radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: var(--medium-padding);
  z-index: 20;
  height: 50%;
  overflow: hidden; 
}
#float_windows_content{
  padding: var(--medium-padding);
  margin-top: var(--medium-padding);
  overflow-y: scroll;
  max-height: 80%;
}

.li_float_windows{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width:inherit;
  background-color: var(--Primary_Acc_color);
  margin-bottom: var(--small-padding);
  padding: var(--small-padding);
  border-radius: var(--small-border_radius);
}
.elementDisable{
  pointer-events: none;
  user-select: none;
  opacity: 0.25;
}


/*Resultados*/
#resultado{
  display: none;
}
#resultado_titulo{
  margin: 0;
}
#resultado_titulo em{
  color: var(--Focus_color);
  font-style: normal;
}

#resultado_info{
  text-align: justify;
  margin: var(--medium-padding) 0;
}
.seccion_resultadoTasasConvertidas{
  margin-bottom: var(--medium-padding);
}
.resultados_resultadoTasasConvertidas{
  padding-top: var(--medium-padding);
  margin-bottom:32px;
}

.titulo_resultadoTasasConvertidas{
  background-color: var(--Focus_color);
  color: var(--Primary_Acc_color);
  font-size: 1.2rem;
  text-align: left;
  font-weight:600;
}
.titulo_resultadoTasasConvertidas:hover{
  background-color: var(--Focus_color_shadow);
  color: var(--Primary_Acc_color);
}

.titulo_resultadoTasasConvertidas::after{
 content: "-";
 font-size: 1.5rem;
 float: right;
 background-color: none;
 width: 32px;
 text-align: center;
 border-radius: var(--small-border_radius);
 transform: rotate(0deg);
 transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.titulo_resultadoTasasConvertidas.active::after{
  content: "+";
  transform: rotate(360deg);
}
.li_resultado{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--medium-padding);
}
.li_resultado p{
  padding: 0 var(--medium-padding);
  margin: 0;
}
.value_resultado{
  width: 80px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px var(--small-padding);
  letter-spacing: 0.5px;
}


/*Seccion de tasas resultados*/
#resultado section button{
  width: 100%;
}
#filter_results{
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--Focus_color);
  background-color: var(--Primary_color);
  border-radius: var(--medium_border_radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: var(--medium-padding);
  transform: translateY(48px);
  width: 100%;
  max-width: 250px;
  z-index: 20;
}
#filter_results > * {
  width: 100%;
  margin: 4px 0px;
  font-size: 1rem;
  text-align: left;
}


/*Footer*/
footer{
  bottom: 0;
  height: fit-content;
  padding: var(--small-padding);
  background-color: var(--Primary_Acc_color);
  display: flex;
  padding: var(--medium-padding);
  margin-top: var(--large_padding);
}
#description{
  width: 50%;
  margin-left: var(--medium-padding);
}
#description div{
  margin-left: 70px;
}

a{
  color: var(--Focus_color);
}

#hero{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h1{
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
  opacity: 0.9;
}
.emphasis_container{
  background-color: var(--Focus_color);
  color: var(--Primary_Acc_color);
  border-radius: var(--small-border_radius);
  padding:var(--small-padding) var(--medium-padding);
  font-weight: bolder;
}

#main_app::before{
  content: " ¡Convierte tu primera tasa en menos de un segundo!";
  font-size: 1rem;
  background-color: var(--Contrast_color);
  color: var(--Primary_Acc_color);
  border-radius: var(--small-border_radius);
  width: fit-content;
  padding:var(--small-padding) var(--medium-padding);
  position: relative;
  top: -2rem;
  left: -3rem;

}
.center_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon_opacity{
  opacity: 0.5;
}
.hero_emphasis{
  font-size: 4rem;
  font-style: normal;
  font-weight: bolder !important;
  color: var(--Focus_color) !important;
}
i{
  font-weight: bolder !important;
  color: var(--Focus_color) !important;
}
#main_logo{
  opacity: 0.5;
}

#description h2{
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}
.footer_links{
  padding: 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items:end;
}
.footer_links button{
  width: 100%;
  text-align: left;
  font-size: 1rem;

  margin-bottom: 16px;
}

/*CHECKBOX Anticpada*/
label{
  padding: 0 !important;
}
.cw_check{
  display: none;
}
.cw_label{
  display: flex;
  width: 35px;
  height: 20px;
  background-color: var(--Primary_color);
  border-radius: var(--medium_border_radius);
  cursor: pointer;
  border: 1px solid var(--Contrast_color);
  scale: 0.9;
  margin-bottom: -2px;
}
.cw_label::after{
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: var(--Contrast_color);
  transform: translateY(3px) translateX(5px);
  border-radius: 100px;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cw_check:checked~ .cw_label{
  background-color: var(--Focus_color);
  border-color: var(--Primary_color);
}
.cw_check:checked~ .cw_label::after{
  background: var(--Primary_color);
  transform: translateY(3px) translateX(15px);
}





/* 
For moviles


Media query para pantallas menores a 600px */
@media only screen and (max-width: 600px) {
  body{
    padding: 16px;
    background-color: var(#1B998B);
  }
  article{
  padding: var(--small-padding);
  }
  #hero h1{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .hero_emphasis{
    font-size: 1.8rem;
  }
  .emphasis_container{
    max-width: 90%;
    font-size: 1rem;
  }
  p{
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 90%;
  }
  h2{
    font-size: 1.2rem;
  }
  #main_app::before{
    left: -0rem;
    font-size: 0.8rem;
  }
  #busqueda .elements_container{
    flex-direction: column;
    align-items: center;  
  }
  #busqueda .elements_container > * {
    width: 100%;
  }
  header{
    background-color: var(--Primary_Acc_color);
  }
  #main_app{
    width: 100%;
    margin: 0;
  }
  /*Footer*/
  footer{
    flex-direction: column;
    padding: var(--medium-padding);
  }
  #description{
    width: fit-content;
    margin-left: 0;
  }

}